<header class="navbar navbar-static-top navbar-default" id="top"> 
  <div class="container"> 
    <div class="navbar-header"> 
      <button aria-controls="bs-navbar" aria-expanded="false" class="collapsed navbar-toggle" data-target="#bs-navbar" data-toggle="collapse" type="button"> 
        <span class="sr-only">Toggle navigation</span> 
        <span class="icon-bar"></span> 
        <span class="icon-bar"></span> 
        <span class="icon-bar"></span> 
      </button> <a href="../" class="navbar-brand">Contact List</a> 
    </div> 
    <nav class="collapse navbar-collapse" id="bs-navbar"> 
      <ul class="nav navbar-nav"> 
        <li> <a routerLink='/'>Ana Sayfa</a> </li> 
        <li> <a routerLink="/list">Kişilerim</a> </li> 
        <li> <a routerLink="/new">Yeni Ekle</a> </li> 
         </ul> 
         <ul class="nav navbar-nav navbar-right"> 
           <div *ngIf='isAuthenticated'>
            <li> <a routerLink='#'>Hoşgeldiniz</a> </li> 
            <li> <a routerLink='/logout'>Çıkış Yap</a> </li> 
           </div>
           <div *ngIf='!isAuthenticated'>
            <li> <a routerLink='/login'>Giriş Yap</a> </li> 
           </div>
             </ul> 
        </nav> 
      </div> 
    </header>

<div class="container">
  
  <router-outlet></router-outlet>
</div>